


<div layout="row"
     layout-align="center center"
     flex>
    <div>
        <h1>$afArray Displayed Items: {{$afArray.displayedItems}}</h1>
        <md-list>
            <md-list-item ng-click="null"
                          ng-repeat="item in $afArray.items">
                <p>{{item.name}}</p>
            </md-list-item>
        </md-list>
        <md-divider ng-show="$afArray.initialLotLoaded"></md-divider>

        <md-list>
            <md-list-item class="md-primary"
                          ng-show="$afArray.initialLotLoaded"
                          ng-disabled="$afArray.fetching"
                          ng-click="$afArray.loadNextLot()">
                <span ng-hide="$afArray.fetching">Load Next Lot</span>
                <span ng-show="$afArray.fetching">Fetching</span>
            </md-list-item>
        </md-list>
    </div>
    <div>

    </div>
</div>

