<div layout="column">
    <md-toolbar class="md-hue-1"
                md-whiteframe="5"
                style="margin:0px;">
        <div class="md-toolbar-tools">
            <h2 style="margin-left:5px;">
                <span>Tasks</span>
            </h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="showForm($event)">
                <md-icon aria-label="add" class="material-icons step">add</md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <atomic-array-wrapper config="config"></atomic-array-wrapper>
</div>