<div layout="row" layout-align="center center" flex>
    <div layout="column" flex>
        <div md-whiteframe="5" class="md-padding">
            <h1 class="md-heading">What is AtomicBase?</h1>

            <p>AtomicBase is a lightweight Firebase Framework  built in ECMA5.</p>

            <h1 class="md-heading">Why AtomicBase?</h1>

            <p>When working on applications that can potentially reach a large scale we know we
                can always count on NoSQL Structures and amazing SPA frameworks.</p>

            <h1 class="md-title">But, why do we keep facing the same challenges over and over?</h1>

            <ul>
                <li>Data Consistency - Multilocation Actions (Updates/Deletes)</li>
                <li>Schemaless Structures</li>
                <li>Custom handling of data while building an object in order to perform a Database action</li>
                <li>Correct approach to handle all Refs within an application</li>
                <li>High performance pagination capabilities with smart/planned event
                    listeners in order to maintain the array synced with the Database.</li>
            </ul>

            <h1 class="md-heading">This is where AtomicBase comes in</h1>

            <span>AtomicBase is in an experimental stage and it
                is not recommended for production unless you know your way through ECMA5 and the latest Firebase SDK.</span>

        </div>


    </div>

</div>