<div layout="column">
    <md-toolbar class="md-hue-1"
                md-whiteframe="5"
                style="margin:0px;">
        <div class="md-toolbar-tools">
            <h2 style="margin-left:5px;">
                <span>Users</span>
            </h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="showForm($event)">
                <md-icon aria-label="add" class="material-icons step">add</md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <div>
        <md-card ng-repeat="item in userArray.items"
                 style="margin:10px 0 10px 0;padding:0px;cursor: pointer;outline:none;"
                ng-click="selectItem($event, item)">
            <md-card-header>
                <md-card-avatar>
                    <img class="md-user-avatar" src="assets/male.png"/>
                </md-card-avatar>
                <md-card-header-text>
                    <span class="md-title">{{item.name}}</span>
                    <span class="md-subhead">Click to alter.</span>
                </md-card-header-text>
            </md-card-header>
            <md-card-title ng-show="item.groups">
                <md-card-title-text>
                    <span class="md-title">Groups</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content ng-show="item.groups">
                <md-list flex style="margin:0px;padding:0px;">
                    <md-list-item ng-repeat="group in item.groups">
                        <p style="margin:0px;padding:0px;">{{ group.name }}</p>
                    </md-list-item>
                </md-list>
            </md-card-content>
        </md-card>
    </div>
</div>


